/*** MAIN SETTINGS ***/
/*-- Includes: 'Title', 'Search option' and a listing of movies. --*/
h1{
    margin-left:40px;
    font-size: 2em;
}
/*** SEARCH FORM SETTINGS ***/
/*-- Includes: 'label', 'input textfield', 'search button' and a 'reset button'. --*/
#searchFilter{
    font-size: 1.5em;
    margin-left: 40px;
}
#reset{
    max-width: 25px;
    vertical-align: middle;
}
#reset:hover{
    cursor: pointer;
}
/*** MOVIE LIST SETTINGS ***/
/*-- Includes: a list of all movies --*/
#movieList{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
/*** MOVIE SETTINGS ***/
/*-- Includes: poster image, movie title and a movie overview --*/
.movie{
    color:black;
    display: inline-block;
    width: 300px;
    margin: 40px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 0.3s;
}
.movie:hover{
    transform: scale(1.03);
    cursor: pointer;
    color:black;
}
.movie > img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.movieInfo > h2{
    font-size: 1.5em;
    font-weight: bold;
    padding:10px;
    color:black;
}
.movieInfo > p{
    font-size: 1em;
    padding:10px;
    color:lightgrey;
}
.movie:hover p{
    color: black;
    transition: 0.5s;
}
/*** PAGE SETTINGS ***/
/*-- Includes: buttons with page numbers at the bottom of the page. --*/
#moviePages{
    display: flex;
    justify-content: center;
}
#moviePages > li{
    display: inline;
}
#moviePages > li > button{
    width:50px;
    height:50px;
    margin:20px;
    font-size: 2em;
    border-radius: 15%;
    border: 3px solid black;
}
#moviePages > li > button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}
.currentMoviePage{
    background-color: #F15A24;
    color: white;
}
/*** RESPONSIVE SETTINGS ***/
/*-- Includes: mobile devices (activated when screen width <= 1080px --*/
@media screen and (max-width: 1080px)
{
    /*** MAIN SETTINGS ***/
    h1{
        display: none;
    }
    /*** SEARCH FORM SETTINGS ***/
    #searchFilter {
        text-align: center;
        margin-bottom: 5%;
        margin-left: auto;
    }
    #searchFilter > label{
        font-size: 2em;
        vertical-align: middle;
    }
    #searchByText{
        width:60%;
        height: 3em;
        vertical-align: middle;
    }
    #searchFilter > input[type=submit]{
        width:10%;
        height: 3em;
        vertical-align: middle;
    }
    #reset{
        max-width: 50px;
    }
    /*** MOVIE LIST SETTINGS ***/
    #movieList{
        justify-content: center;
    }
    /*** MOVIE SETTINGS ***/
    .movie{
        width: 46%;
        margin: 10px;
    }
    .movie > img{
         width:100%;
    }
}